Options -Indexes

# Deny direct access to config files
<FilesMatch "^database\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Allow API files
<FilesMatch "\.(php)$">
    Order allow,deny
    Allow from all
</FilesMatch>
